# These pacakges are required to create the documentation
# Obtained by running the commands below
# pip install pipreqs
# conda install --yes --file requirements.txt -c conda-forge

python==3.11.9
numpy==1.26.4
astropy==6.0.1
matplotlib==3.7.1
scipy==1.13.0
mpi4py==3.1.6
sphinx==7.3.7
pydata-sphinx-theme==0.15.2
sphinx-math-dollar==1.2.1
numpydoc==1.7.0
tqdm==4.66.2
